<div class="col-lg-10 offset-lg-1">
    <img [src]="logoUrl" style="width: 100%;" alt="opal logo">
</div>
<div class="col-lg-4 offset-lg-4">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label>Email:</label>
                        <input name="email" formControlName="email"
                                class="form-control" type="email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <label>Password:</label>
                        <input name="password" formControlName="password"
                                class="form-control" type="password">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <div class="form-check form-check-inline">
                            <input name="remenber" formControlName="remenber"
                                    type="checkbox" class="form-check-input">
                            <label class="form-check-label">remenber me</label>
                        </div>
                    </div>
                </div>
                <div class="form-buttons">
                        <button class="btn btn-primary" (click)="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>